@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kanit:wght@200&family=Lobster+Two:ital@1&display=swap');.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  margin: 3rem auto;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}

#outlined-adornment-weight:not(.browser-default) {
  border-bottom: none;
 
}

#outlined-adornment-weight{
  padding-left:10px;
}

#diet {
  color: black;
}

#outlined-adornment-weight:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

RadioButton{
  color:darkgrey
}

.check-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.register {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  
}
.special-font {
  font-family: 'Lobster Two', cursive;
  font-size: 2.8rem;
  color: grey;
}

.special-font-text {
  font-family: 'Kanit', sans-serif;
}

#space{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.button-btn {
  margin: 10px 0px;
  padding: 12px 13px;
  width: 100%;
  background-color: rgb(77, 162, 201);
  border:none;
  color: aliceblue;
  font-size: 1.1rem;
  font-family: 'Kanit', sans-serif;

}

.nav-wrapper {
  background-color: hotpink;
}


