@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kanit:wght@200&family=Lobster+Two:ital@1&display=swap');.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body{
  background-color: rgb(246, 244, 252);
}

#container {
  margin: 3rem auto;
  
}

.collection {
  width:90%
}
.MuiDialog-paper {
  width: 80%;
}

#outlined-adornment-weight:not(.browser-default) {
  border-bottom: none;
 
}

#outlined-adornment-weight{
  padding-left:10px;
}

#diet {
  color: black;
}

#outlined-adornment-weight:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}


.search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#autocomplete-input  {
  border: 1px solid rgb(212, 208, 208);;
  background-color:white;
  color: black;
  padding-left: 20px;
}

#search-btn {
    height: 43.5px;
    margin-left: 5px;
    font-family: "Glacial-Indifference", sans-serif;
    background-color: rgb(77, 162, 201);

}

.rating-text {
  display: flex;
  flex-direction: row;
margin-top: 1.5rem;
  justify-content: flex-start;
}
#focus-transparent:focus {
  outline: none;
  background-color: transparent;
}

.buttons-mix{
 padding: 2rem;
  
 
}
#reply-post {
  background-color: lightslategray;
  border-radius: 20px;
}

#sign-in {
 margin-left:20px;
  border-radius: 20px;
}

.btn-flat {
  margin-top: 20px;
  
}
#round {
  border-radius: 30px;
  border: 1px solid grey;
  padding-left:30px;
  margin-right:20px;
}
#post-div {
  margin-bottom: 2rem;
}
#replies-card {
  margin-top: 1rem;
  background-color: grey;
}


#replies-header {
  margin-top: 3rem;
}

.review {
  margin-top: 1rem;
  display: flex;
 
}
.space {
  height: 200px;
  background-color: transparent;
}
#post-button {
  display: flex;
  align-self: flex-end;
}

input[type="text"]:not(.browser-default){
  background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0px 10px;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow .3s, border .3s;

}

#step {
  margin-top: 1rem;
  width:50%;
  display: flex;
  flex-direction: column;
}

.img-div {
  margin-top: 2rem;
}

#generate {
  width: 10%;
}

.makeStyles-root-147 {
  width:50%
}
.sidenav-fixed {
  background-color: rgb(248, 245, 245);
  width:27%
}

#table {
  width: 50%;
}

.MuiRating-root label {
  font-size: 1.8rem;
}

#modal1{
  width: 80%;
  background-color: ghostwhite;
}

#t-head {
  font-family: 'Kanit', sans-serif;
}

.nutrition-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nutrition-chips {
  margin-bottom: 30px;
  margin-top: 10px;
}

.check-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.register {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  
}
.special-font {
  font-family: 'Lobster Two', cursive;
  font-size: 2.8rem;
  color: grey;
}

.special-font-text {
  font-family: 'Kanit', sans-serif;
}

.title-bar {
  display: flex;
  
}

#messages-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:3rem
}

.reviews-container {
  margin-top: 2rem;
}

.review-outer {
  margin-bottom: 3rem;
}

#recommend-item{
margin-bottom: 30px;
}

#message-item {
  width: 100%;
  margin-bottom: 20px;
}

#recommended-recipes{
display: grid;
grid-template-columns: auto auto auto;
  
}

#capitalize {
  text-transform: capitalize;
}



#space{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.side-nav {
  width: 30vw;
  margin-right: 1rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow-y: auto;
  max-width: 300px;
}

.container-inner {
  display: flex;
  flex-direction: row;
}
.button-btn {
  margin: 10px 0px;
  padding: 12px 13px;
  width: 100%;
  background-color: rgb(77, 162, 201);
  border:none;
  color: aliceblue;
  font-size: 1.1rem;
  font-family: 'Kanit', sans-serif;

}

.nav-wrapper {
  background-color: hotpink;
}


